@import "Colors";

.offcanvas-footer {
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: auto;
}

.btn-link {
  text-decoration: none;
  color: var(--bs-body-color);;
}

a {
  text-decoration: none;
}

.btn {
  min-width: 100px;
}

.stream-overlay {
  .btn {
    min-width: 0px;
  }
}

.remote-media {
  .btn {
    min-width: 0px;
  }
}

