@import "Colors";

.offcanvas-footer {
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: auto;
}

.btn-link {
  text-decoration: none;
  color: var(--bs-body-color);;
}

a {
  text-decoration: none;
}

.input-group{
  .btn {
    width: 100px;
  }
}