@import "Colors";
@import "node_modules/bootstrap/scss/bootstrap";

:root,
[data-bs-theme=light] {
  --bs-border-radius: 0.125rem;
  --bs-border-radius-sm: 0.1rem;
  --bs-border-radius-lg: 0.25rem;
  --bs-border-radius-xl: 0.5rem;
  --bs-border-radius-xxl: 1rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 25rem;
}


.offcanvas-footer {
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: auto;
}

.btn-link {
  text-decoration: none;
  color: var(--bs-body-color);;
}

a {
  text-decoration: none;
}

.btn {
  min-width: 100px;
}

.stream-overlay {
  .btn {
    min-width: 0px;
  }
}

.remote-media {
  .btn {
    min-width: 0px;
  }
}

.form-control:focus {
  box-shadow: 0 0 0.2rem $primary;
}
