@import "Colors";
@import "Header";

.sidebar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  width: 100%;
  z-index: 99;
}

.sidebar {
  display: block;
  position: absolute;
  top: $header-height;
  left: 0;
  bottom: 0;
  background-color: $secondary-light-color;
  width: 40%;
  color: $secondary-accent-color;
  padding: 10px 5px 2px;
  z-index: 100;
}


