

ul {
  margin: auto;
  width: fit-content;
}

.camera-item {
  margin: 0 auto;
  padding: 2px 0;
  video {
    background-color: black;
  }
  &.fullscreen {
    overflow-y: auto;
    ul {
      margin: 0;
    }
    .video-item {
      
    }
    .video-title {
      color: white;
    }
  }
}

