$primary-light-color: white;
$secondary-light-color: #A3EEFF;
$ternary-light-color: #57E0FF;
$primary-accent-color: #45B4CC;
$secondary-accent-color: #2B7080;
$ternary-accent-color: #527780;


$primary-font-color: dimgrey;
$secondary-font-color: #8797AB;
$accent-font-color: #6FA2E3;