@import "Colors";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  height: 10%;
  background-color: $secondary-light-color;
  width: 100%;
  color: $secondary-accent-color;
}