@import "Colors";
@import "Header";

.sidebar {
  position: fixed;
  top: calc($header-height - 1px);
  left: 0;
  background-color: $secondary-light-color;
  width: 30%;
  height: calc(100% - #{$header-height} - 10px);
  color: $secondary-accent-color;
  z-index: 1;
  padding: 10px 5px 2px;
}